html {
    background: rgb(255, 231, 196);
    background: linear-gradient(132deg, rgba(255, 231, 196, 1) 18%, rgba(255, 186, 0, 1) 100%, rgba(2, 0, 36, 1) 100%);
    font-family: "helvetica neue";
    text-align: center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.reloj {
    width: 30rem;
    height: 30rem;
    border: 20px solid whitesmoke;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0px 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #efefef,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

.frontal_reloj {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.manija {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hora-manija {
    /* width: 50%; */
    background-color: red;
}

.min-manija {
    /* width: 40%; */
    background-color: rgb(122, 236, 69);

}

.seg-manija {
    /* width: 30%; */
    background-color: rgb(49, 52, 238);

}